body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/worn_dots.png");
    background-color: lightblue;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-transform: uppercase;
    color: yellow;
    text-shadow: 1px 1px 2px #000000;
}

h3 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 14px;
}
ul {
    align-items: center;
    align-content: center;
}

.choices {
    border: 2px solid  #dddddd;
    width: 300px;
    text-align: center;
    margin-bottom: 2px;
}

.choices:hover {
    border: 2px solid  #000000;
}
.container {
    text-align: center;
}
.main {
    width: 960px;
    height: 650px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 25px;
    background-color: #ffffff;
    border: 2px solid #dddddd;
    padding: 25px;
}
#start,
#restart,
#quiz {
    margin-top: 50px;
}
